# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js dependencies
node_modules/
frontend/node_modules/

# Build files
dist/
frontend/dist/
dist-ssr/

# Environment variables
*.local
.env
frontend/.env
frontend/.env.development
backend/.env

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store

# Visual Studio / .NET / C#
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/bin/
backend/obj/
backend/.vs/
backend/BackendShop.sln  # не обов'язково, якщо деплой через Docker

# Configurations / Sensitive data
backend/appsettings.json  # якщо містить чутливі дані

# Загальні ігноровані файли
*.log
.DS_Store

